In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report

In [2]:
url='https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv'
titanic = pd.read_csv(url)

In [3]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
titanic['Age'].isna().sum()

177

In [7]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
titanic['Age'].fillna(titanic['Age'].mean(),inplace=True)
titanic['Age'].isna().sum()

0

In [9]:
a=(titanic['Sex'].unique())
a

array(['male', 'female'], dtype=object)

In [10]:
l=[]
for i in titanic['Sex']:
    if(i=='female'):
        l.append(0)
    elif(i=='male'):
        l.append(1)

In [11]:
titanic['Sex_num']=l
titanic.head()
titanic['Sex_num'].unique()

array([1, 0])

In [12]:
titanic['Sex_num'].head()

0    1
1    0
2    0
3    0
4    1
Name: Sex_num, dtype: int64

In [13]:
corr=titanic.corr()
print('there is no correlation between and featues')
corr.head()

there is no correlation between and featues

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_num
PassengerId,1.000000,-0.005007,-0.035144,0.033207,-0.057527,-0.001652,0.012658,0.042939
Survived,-0.005007,1.000000,-0.338481,-0.069809,-0.035322,0.081629,0.257307,-0.543351
Pclass,-0.035144,-0.338481,1.000000,-0.331339,0.083081,0.018443,-0.549500,0.131900
Age,0.033207,-0.069809,-0.331339,1.000000,-0.232625,-0.179191,0.091566,0.084153
SibSp,-0.057527,-0.035322,0.083081,-0.232625,1.000000,0.414838,0.159651,-0.114631

In [14]:
x=titanic[['Pclass', 'Sex_num', 'Age', 'SibSp' , 'Parch','Fare']]
y=titanic['Survived']

In [15]:
x.head()

   Pclass  Sex_num   Age  SibSp  Parch     Fare
0       3        1  22.0      1      0   7.2500
1       1        0  38.0      1      0  71.2833
2       3        0  26.0      0      0   7.9250
3       1        0  35.0      1      0  53.1000
4       3        1  35.0      0      0   8.0500

In [16]:
decision_tree=DecisionTreeRegressor(random_state=33)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [18]:
grid={  
'splitter' : ['best', 'random'],
 'max_depth':range(1,100,1), 
 'min_samples_split':range(2,10,1), 
 'min_samples_leaf':range(1,10,1), 
 'ccp_alpha':range(0,10)
 }

In [24]:
from sklearn.model_selection import GridSearchCV
grid_search=GridSearchCV(estimator=decision_tree,param_grid=grid,cv=5,n_jobs=-1)
grid_search.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(random_state=33), n_jobs=-1,
             param_grid={'ccp_alpha': range(0, 10), 'max_depth': range(1, 100),
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'splitter': ['best', 'random']})

In [25]:
best_parameters = grid_search.best_params_
best_parameters

{'ccp_alpha': 0,
 'max_depth': 5,
 'min_samples_leaf': 3,
 'min_samples_split': 2,
 'splitter': 'random'}

In [109]:
clf=DecisionTreeRegressor(criterion='mse',ccp_alpha=0,max_depth= 5,min_samples_leaf= 3,min_samples_split= 2,splitter='random',random_state=42)

In [110]:
clf.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0, max_depth=5, min_samples_leaf=3,
                      random_state=42, splitter='random')

In [111]:

a=clf.score(X_train,y_train)
a

0.4872887347380138

In [112]:
b=clf.score(X_test,y_test)
b

0.45450826456375193

In [88]:
ff=DecisionTreeRegressor(random_state=42)
ff.fit(X_train,y_train)
ff.score(X_train,y_train)

0.9497518909283615

In [89]:
ff.score(X_test,y_test)

-0.030548941798941742